.searchBar-wrap {
  background-color: #f0f0f0;
  width: fit-content;
  margin: 40px auto 64px auto;
  padding: 8px;
  border-radius: 5px;
}

.searchBar-wrap form {
  display: flex;
  align-items: center;
}

.searchBar-wrap input {
  background-color: #f0f0f0;
  outline: none;
  border: none;
}

.searchBar-wrap span {
  padding-right: 8px;
  cursor: pointer;
}

.searchBar-wrap button {
  outline: none;
  border: none;
  padding: 5px 16px;
  border-radius: 5px;
  background-color: #0f52ba;
  color: #fff;
}
